.gallery-container {
  padding: 1rem 4rem;
  overflow-x: hidden;
}

.gallery-content h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 3rem;
  font-weight: 700;
}

.gallery-content p {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
  color: #616161;
}

.gallery-content span {
  background: linear-gradient(
    90deg,
    rgba(255, 190, 247, 1) 0%,
    rgba(255, 120, 238, 1) 35%,
    rgba(255, 35, 227, 1) 100%
  );
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gallery-grid {
  display: grid;
  padding: 2rem;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1rem;
}

@media screen and (max-width: 1400px) {
  .gallery-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 950px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 540px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 450px) {
  .gallery-grid {
    grid-template-columns: repeat(1, 1fr);
    padding: 2rem;
  }

  .gallery-container {
    padding: 1rem 0.8rem;
  }

  .gallery-content p {
    font-size: 1rem;
  }

  .gallery-content h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 380px) {
  .gallery-grid {
    padding: 2rem 2rem;
  }
}
